---
# Handlers for Postfix notifications.

- name: postmap sasl
  command: '/usr/sbin/postmap {{ postfix_config_dir }}/sasl_passwd'

- name: stop postfix
  service:
    name: '{{ postfix_service }}'
    state: stopped

- name: start postfix
  service:
    name: '{{ postfix_service }}'
    state: started
    enabled: yes

- name: restart postfix
  service:
    name: '{{ postfix_service }}'
    state: restarted
    enabled: yes

